<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Web Application to find the best Restaurants.">
    <title>RestoKan Apps - Find the best Restaurants in one Web App</title>
</head>

<body>
    <header>
        <skip-bar></skip-bar>
        <nav-bar></nav-bar>
        <hero-bar></hero-bar>
    </header>
    <main id="mainContent"></main>
    <footer>
        <footer-bar></footer-bar>
    </footer>
</body>

</html>